<app-topo></app-topo>
<div *ngIf="running; else gameOver">
    <app-painel (endGame)="endGame($event)"></app-painel>
</div>

<!--funciona como o else do componente painel, usando # define como conteúdo a ser exibido respeitando a condicional-->
<ng-template #gameOver>
    <div class="container" *ngIf="endResult === 'derrota'; else endWin">
      <div class="row">
        <div class="col">
            <div class="alert alert-danger" role="alert" style="margin-top: 10px;">
                  <h2>Game Over! Try again</h2>
            </div>
            <button class="btn btn-success" (click)="restartGame()">Restart Game</button>
        </div>
     </div>
    </div>
</ng-template>

<!-- Funciona como o else do template de #gameOver ligado pelo nome #endWin-->
<ng-template #endWin>
  <div class="container">
      <div class="row">
          <div class="col">
              <div class="alert alert-success" role="alert" style="margin-top: 10px;">
                    <h2>Congratulations! You win !!!! </h2>
              </div>
              <button class="btn btn-success" (click)="restartGame()">Restart Game</button>
          </div>
       </div>
  </div>
 </ng-template>
